.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-pagination__bullet {
    width: 6px;
    height: 6px;
    background: #535353;
    border-radius: 100%;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
  
    &--active {
      background: #D09E70;
    }
  }
  