.title {
    @include font(26, 30, 600);
    font-family: $alt-text-font;
    color: #43191F;
    padding-top: 22px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D09E70;
    margin-bottom: 20px;
}