.header-menu {
  display: flex;
  padding: 13px 10px;
  background-color: $main-color;
  justify-content: space-between;
  align-items: center;
}

.header-menu--open {
  background-color: #1a1a1a;
}

.header-menu__logo {
  order: 1;
}

.header-menu__mobile-menu {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  order: 2;
}

.header-menu__nav {
  display: none;
  order: 3;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 10;
  width: 100%;
}

.mobile-menu__icon-menu,
.mobile-menu--open,
.mobile-menu--open .mobile-menu__icon-cross {
  display: block;
}

.mobile-menu__icon-cross,
.mobile-menu--open .mobile-menu__icon-menu {
  display: none;
}

.header-menu__nav-item {
  background: #282a35;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #1a1a1a;
}

.header-menu__nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  position: relative;
}

.header-menu__nav-link svg {
  margin-right: 10px;
  fill: #ffffff;
}

.nav-link__title {
  @include font(14, 16, 500);
  font-family: $main-text-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-link--open {
  .nav-link__title {
    color: #d09e70;
  }
  svg {
    transform: rotate(180deg);
    fill: #d09e70;
  }
}

.nav-link__list {
  display: none;
}

.nav-link__list--open {
  display: block;
}

.nav-link__item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  a {
    @include font(14, 16, 500);
    font-family: $main-text-font;
    color: #bdbdbd;
  }
  background-color: #21222b;

  &:not(:last-child) {
    border-bottom: 1px solid #1a1a1a;
  }
}

.header-menu__login {
  padding: 15px 0;
  border: none;
  @include font(14, 16, 500);
  font-family: $main-text-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1a1a1a;
  width: 100%;
  cursor: pointer;
}
