.partners__banner {
  padding: 10px;
  padding-top: 8px;
  background: url("../images/banner.jpg");
  margin-bottom: 35px;
}

.partners__banner-inner {
  border: 1px solid #FFFFFF;
  text-align: center;
}

.partners__banner-title {
  padding-top: 10px;
  margin-bottom: 18px;
  @include font(26, 27, 700);
  font-family: $alt-text-font;
  color: #FFFFFF;
}

.partners__banner-link {
  display: block;
  padding: 18px;
  margin: 10px;
  margin-top: 0;
  @include font(14, 14, 400);
  font-family: $main-text-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #D09E70;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  &:hover {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
  }
}

.partners__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}