footer.footer
  .wrap
    ul.footer__link-list
      li.footer__link-item
        a(href="#").footer__link Условия использования сайта
      li.footer__link-item
        a(href="#").footer__link Заявление о раскрытии рисков
      li.footer__link-item
        a(href="#").footer__link Борьба с лег-й преступных доходов
      li.footer__link-item
        a(href="#").footer__link Политика конфиденциальности
    ul.footer__payment-list
      li.footer__payment-list
        a(href="#").footer__payment-list
          img(src="", alt="")
      li.footer__payment-list
        a(href="#").footer__payment-list
          img(src="", alt="")
      li.footer__payment-list
        a(href="#").footer__payment-list
          img(src="", alt="")
      li.footer__payment-list
        a(href="#").footer__payment-list
          img(src="", alt="")
      li.footer__payment-list
        a(href="#").footer__payment-list
          img(src="", alt="")
      li.footer__payment-list
        a(href="#").footer__payment-list
          img(src="", alt="")
    .footer__about
      p.footer__about-text Компания Helion Capital предупреждает: проведение торговых операций  с маржинальными инструментами на финансовых рынках имеет высокий уровень риска и может привести к получению убытков и потере средств. Начиная торговлю, убедитесь, что Вы в полной мере осознаете все риски, а также обладаете соответствующими знаниями и опытом для торговли на Forex.
      a(href="#").footer__about-link
        img(src="", alt="")
        