footer.footer
  .wrap
    ul.footer__link-list
      li.footer__link-item
        a(href="#").footer__link Условия использования сайта
      li.footer__link-item
        a(href="#").footer__link Заявление о раскрытии рисков
      li.footer__link-item
        a(href="#").footer__link Борьба с лег-й преступных доходов
      li.footer__link-item
        a(href="#").footer__link Политика конфиденциальности
    ul.footer__payment-list
      li.footer__payment-item
        a(href="#").footer__payment-link
          img(src="images/payment-1.svg", alt="payment")
      li.footer__payment-item
        a(href="#").footer__payment-link
          img(src="images/payment-2.svg", alt="payment")
      li.footer__payment-item
        a(href="#").footer__payment-link
          img(src="images/payment-3.svg", alt="payment")
      li.footer__payment-item
        a(href="#").footer__payment-link
          img(src="images/payment-4.svg", alt="payment")
      li.footer__payment-item
        a(href="#").footer__payment-link
          img(src="images/payment-5.svg", alt="payment")
      li.footer__payment-item
        a(href="#").footer__payment-link
          img(src="images/payment-6.svg", alt="payment")
  .footer__about
    p.footer__about-text Компания Helion Capital предупреждает: проведение торговых операций  с маржинальными инструментами на финансовых рынках имеет высокий уровень риска и может привести к получению убытков и потере средств. Начиная торговлю, убедитесь, что Вы в полной мере осознаете все риски, а также обладаете соответствующими знаниями и опытом для торговли на Forex.
    a(href="#").footer__about-link
      img(src="images/footer-ico.svg", alt="ico")
        