header.header
  .wrap.wrap--header
    .header__menu.header-menu
      .header-menu__logo
        a.header-menu__logo-link(href="#")
          img(src="images/logo.svg", alt="Логотип Хелион")
      button(type="button").header-menu__mobile-menu.mobile-menu
        svg(width="22" height="22").mobile-menu__icon
          use(href="images/sprite.svg#menu").mobile-menu__icon-menu
          use(href="images/sprite.svg#cross").mobile-menu__icon-cross 
      nav.header-menu__nav.menu-nav
        .menu-nav__about
          a(href="#").menu-nav__about-item Web-терминал
          a(href="#").menu-nav__about-item Контакты
          a(href="#").menu-nav__about-item FAQ
        .menu-nav__auth
          button(type="button").menu-nav__auth-item Регистрация
          button(type="button").menu-nav__auth-item Войти
        a(href="#").menu-nav__call Перезвоните мне
        .menu-nav__lang
          button(type="button").menu-nav__lang-item.menu-nav__lang-item--active ru
          button(type="button").menu-nav__lang-item en
        ul.header-menu__nav-list
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link 
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title О компании
            .submenu
              .submenu__img-container
                img(src="images/submenu.png", alt="Приз «Лучший Форекс-Брокер Европы 2017»").submenu__img
                p.submenu__img-text «Лучший Форекс-Брокер Европы 2017»
              ul.nav-link__list
                li.nav-link__item 
                  p.nav-link__item-title О компании
                li.nav-link__item 
                  a(href="#").nav-link__item-link Защита средств
                li.nav-link__item 
                  a(href="#").nav-link__item-link Реквизиты банка
                li.nav-link__item 
                  a(href="#").nav-link__item-link Новости компании
                li.nav-link__item 
                  a(href="#").nav-link__item-link Награды
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Платформа
                li.nav-link__item 
                  a(href="#").nav-link__item-link Обучение
                li.nav-link__item 
                  a(href="#").nav-link__item-link Счета
                li.nav-link__item 
                  a(href="#").nav-link__item-link Инструменты
                li.nav-link__item 
                  a(href="#").nav-link__item-link Пополнение и вывод
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Обзоры рынка
                li.nav-link__item 
                  a(href="#").nav-link__item-link Прогнозы
                li.nav-link__item 
                  a(href="#").nav-link__item-link Новости рынка
                li.nav-link__item 
                  a(href="#").nav-link__item-link Экономический к-рь
                li.nav-link__item 
                  a(href="#").nav-link__item-link Дивиденды
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Welcome Bonus
                li.nav-link__item 
                  a(href="#").nav-link__item-link Test DriveBonus
                li.nav-link__item 
                  a(href="#").nav-link__item-link Проценты на счет
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Свободный агент
                li.nav-link__item 
                  a(href="#").nav-link__item-link Франчайзинг
                li.nav-link__item 
                  a(href="#").nav-link__item-link White label
                li.nav-link__item 
                  a(href="#").nav-link__item-link Call-центр
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link 
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title Торговля
            .submenu
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Платформа
                li.nav-link__item 
                  a(href="#").nav-link__item-link Обучение
                li.nav-link__item 
                  a(href="#").nav-link__item-link Счета
                li.nav-link__item 
                  a(href="#").nav-link__item-link Инструменты
                li.nav-link__item 
                  a(href="#").nav-link__item-link Пополнение и вывод
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link 
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title Аналитика
            .submenu
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Обзоры рынка
                li.nav-link__item 
                  a(href="#").nav-link__item-link Прогнозы
                li.nav-link__item 
                  a(href="#").nav-link__item-link Новости рынка
                li.nav-link__item 
                  a(href="#").nav-link__item-link Экономический к-рь
                li.nav-link__item 
                  a(href="#").nav-link__item-link Дивиденды
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link 
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title Партнерство
            .submenu
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Свободный агент
                li.nav-link__item 
                  a(href="#").nav-link__item-link Франчайзинг
                li.nav-link__item 
                  a(href="#").nav-link__item-link White label
                li.nav-link__item 
                  a(href="#").nav-link__item-link Call-центр
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link 
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title Бонусы
            .submenu
              ul.nav-link__list
                li.nav-link__item 
                  a(href="#").nav-link__item-link Welcome Bonus
                li.nav-link__item 
                  a(href="#").nav-link__item-link Test DriveBonus
                li.nav-link__item 
                  a(href="#").nav-link__item-link Проценты на счет
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title Обучение
          li.header-menu__nav-item
            .header-menu__nav-link.nav-link 
              svg(width="12" height="7")
                use(href="images/sprite.svg#menu__list-icon")
              a(href="#").nav-link__title FAQ
