extends layout/main.pug
block variables
  - var pageTitle = 'Helion Capital'

block content
  main.main
    h1.header= pageTitle
    section.dividends
      h2.dividends__title Дивиденды и аналитика
      p.dividends__subtitle Одно из главных преимуществ инвестиционного брокера "Helion Capital" - гарантированная выплата дивидендов. Получение стабильного и относительно высокого дохода всегда будет интересно даже самому робкому инвестору.
      p.dividends__subtitle Мы проводим ежедневную аналитику данных из Европы и Америки, сотрудничаем с информагентствами Goldman Sachs и располагаем опытным штатом трейдеров, благодаря чему наша аналитическая команда формирует индивидуальные торговые решения для каждого.
      .dividends__info.dividends-info
        .dividends-info__block
          h3.dividends-info__title До выплаты дивиденда осталось:
          .dividends-info__container
            p.dividends-info__residue До выплаты дивиденда осталось:
            span.dividends-info__caption часов
            span.dividends-info__caption минут
            span.dividends-info__caption секунд
            p.dividends-info__text Число выданных разрешений на строительство (май), US 
        .dividends-info__block
          h3.dividends-info__title Выплата дивидендов по CFDs
          .dividends-info__container
            ul.dividends-info__list
              li.dividends-info__item
                p.dividends-info__name #PG / Procter&Gamble
                p.dividends-info__time 24 : 08 : 37 : 58
                table.dividends-info__cost
                  tr.dividends-info__stock
                    td.dividends-info__key One stock:
                    td.dividends-info__value $0.717
                  tr.dividends-info__stock
                    td.dividends-info__key Payout:
                    td.dividends-info__value $717
              li.dividends-info__item
                p.dividends-info__name #AAPL / Apple Inc.
                p.dividends-info__time 24 : 08 : 37 : 58
                table.dividends-info__cost
                  tr.dividends-info__stock
                    td.dividends-info__key One stock:
                    td.dividends-info__value $0.73
                  tr.dividends-info__stock
                    td.dividends-info__key Payout:
                    td.dividends-info__value $730
              li.dividends-info__item
                p.dividends-info__name #SBUX / Starbuck Corporation
                p.dividends-info__time 24 : 08 : 37 : 58
                table.dividends-info__cost
                  tr.dividends-info__stock
                    td.dividends-info__key One stock:
                    td.dividends-info__value $0.3
                  tr.dividends-info__stock
                    td.dividends-info__key Payout:
                    td.dividends-info__value $300
      a(href="#").dividends__categories Все Категории
    section.offers
      h2.offers__title Специальные предложения
      .offers__sleder
        ul.offers__sleder-list
          li.offers__sleder-item.sleder-item
            p.sleder-item__title Welcome Bonus
            p.sleder-item__text Приветственный бонус, который автоматически получают новые трейдеры при регистрации и пополнении счета. Спустя несколько транзакций, бонус станет доступным к снятию.
            p.sleder-item__notice до 100% на счет
          li.offers__sleder-item.sleder-item
            p.sleder-item__title Test Drive Bonus
            p.sleder-item__text Получайте реальные 250$ на торговый счет и оттачивайте свои способности не вкладывая собственных средств! К выводу доступна только та прибыль, которую вы заработали сверх выданной суммы.
            p.sleder-item__notice 250$ на счет
          li.offers__sleder-item.sleder-item
            p.sleder-item__title Welcome Bonus
            p.sleder-item__text Сохраняйте свои средства от инфляции при помощи счета в иностранной валюте, а так же получайте гарантированную капитализацию на свой торговый счет от 5% до 16% годовых.
            p.sleder-item__notice до 16% на счет
        .offers__sleder-pagination
      a(href="#").offers__details Подробнее
    section.accounts
      h2.accounts__title Торговые Счета
      p.accounts__subtitle Откройте тип счета, подходящий под Ваш стиль торговли
      .accounts__slider
        ul.accounts__list
          li.accounts__item.accounts-item
            .accounts-item__header
              p.accounts-item__heading Silver
              p.accounts-item__desc Универсальный счет, который позволит усовершенствовать собственную торговую стратегию.
            p.accounts-item__advantage Плавающий спред от 3 пунктов Ставка
            p.accounts-item__advantage 5% годовых или 0,4% месяц
            p.accounts-item__advantage Бесплатное обучение
            p.accounts-item__advantage Депозит от 250$
            p.accounts-item__advantage Валюта счета : EUR, USD.
            p.accounts-item__advantage Защита от отрицательного баланса
            a(href="#").accounts-item__link открыть счет
          li.accounts__item.accounts-item
            .accounts-item__header
              p.accounts-item__heading Gold
              p.accounts-item__desc Главная особенность данного счета - широчайший выбор торговых инстументов.
            p.accounts-item__advantage Плавающий спред от 2 пунктов Ставка
            p.accounts-item__advantage 10% годовых или 0,8% месяц
            p.accounts-item__advantage Личный советник 12/5
            p.accounts-item__advantage Бесплатное обучение, мастер-классы
            p.accounts-item__advantage Депозит от $10 000 
            p.accounts-item__advantage Валюта счета : EUR, USD.
            a(href="#").accounts-item__link открыть счет
          li.accounts__item.accounts-item
            .accounts-item__header
              p.accounts-item__heading Platinum
              p.accounts-item__desc Для требовательных трейдеров предпочитающих комфорт и качественное обслуживание.
            p.accounts-item__advantage Плавающий спред от 1 пунктов Ставка
            p.accounts-item__advantage 16% годовых или 1,33% месяц
            p.accounts-item__advantage Личный советник 24/7
            p.accounts-item__advantage Бесплатное обучение, мастер-классы
            p.accounts-item__advantage Депозит от $50 000 
            p.accounts-item__advantage Валюта счета : EUR, USD.
            a(href="#").accounts-item__link открыть счет
          li.accounts__item.accounts-item
            .accounts-item__header
              p.accounts-item__heading Bitcoin
              p.accounts-item__desc Для требовательных трейдеров предпочитающих комфорт и качественное обслуживание.
            p.accounts-item__advantage Плавающий спред от 3 пунктов Ставка
            p.accounts-item__advantage 5% годовых или 0,4% месяц
            p.accounts-item__advantage Бесплатное обучение
            p.accounts-item__advantage Депозит от 1000$
            p.accounts-item__advantage Валюта счета: BTC, ETH, XRP
            p.accounts-item__advantage Защита от отрицательного баланса
            a(href="#").accounts-item__link открыть счет
    section.training
      h2.training__title Обучение трейдингу
      p.training__text Самостоятельное изучение торговли на финансовых рынках - всегда процесс очень кропотливый и длительный, который требует от новичка достаточно терпения, выдержки и силы воли. Разумеется, много трейдеров прошли путь самостоятельного обучения трейдингу и сейчас стабильно зарабатывают деньги на финансовых рынках, но зачем тратить столько времени впустую? На дворе XXI век - век высоких информационных технологий, существуют наиболее комфортные  и локаничные методы, которые сэкономят ваше бесценное время и нервы.  
      .training__img
        img(src="", alt="")
      p.training__text Просто подберите для себя подходящий формат обучения: лично в офисе, дистанционно или груповые мастер классы и вебинары - все остальное мы сделаем за вас. Передайте себя в руки профессиональной команды финансовых советников “Helion Capital” и шаг за шагом мы научим вас зарабатывать на финансовых рынках.
      a(href="#").training__link Подробнее
    section.news
      h2.company-news__title Новости рынка
      ul.company-news__list
        li.company-news__item
          article.company-news__item-content.item-content
            p.item-content__title Официальные лица вогнали EUR...
            p.item-content__date 12.05.18
            p.item-content__text В пятницу, 26 января, единая европейская валюта по отношению к доллару на утренних торгах умеренно подрастает после небольшой просадки днем ранее.
            a(href="#").item-content__details Подробнее...
        li.company-news__item
          article.company-news__item-content.item-content
            p.item-content__title Младший брат Bitcoin - перспек...
            p.item-content__date 12.05.18
            p.item-content__text В пятницу, 26 января, единая европейская валюта по отношению к доллару на утренних торгах умеренно подрастает после небольшой просадки днем ранее.
            a(href="#").item-content__details Подробнее...
      a(href="#").company-news__details Больше Новостей